/Debug
/ipch
*.sdf
*.opensdf
*.suo
*.user
*.sav
/Debug
/Game/Debug
/Game/MainInfo/Debug
/Game/MainInfo/Release
/Tools/AnimationEditor/bin/Debug
/MainInfo/Debug
/MainInfo/Release
/Release
/Game/Debug
/Tools/WorldEditor/WorldEditor/bin/Debug
/Game/Debug
/Game/Debug


/Tools/AnimationEditor/obj/Debug
/Game/Release
/Game/Resources/profileIndex.xml
/Game/Resources/profiles.xml
/Game/MainInfo/PvR.aps
